@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
.intro,
.introduccion-parfum, .contacto .contacto-container h1,
.contacto .contacto-container p, .footer h2,
.footer h4,
.footer p {
  font-family: "Urbanist", sans-serif;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(9, 0, 41);
}

.header-index {
  font-family: "Urbanist", sans-serif;
  background-color: rgb(9, 0, 41);
  display: grid;
  justify-content: center;
}
.header-index .navbar {
  display: grid;
  list-style: none;
  padding: 0rem 1rem;
  justify-content: center;
  gap: 1.5rem;
}
.header-index .navbar li a {
  text-decoration: none;
  color: #fff;
  font-size: 26px;
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .header-index {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-index .navbar {
    display: flex;
  }
}

.banner {
  font-family: "Urbanist", sans-serif;
  background-color: #000;
  padding: 2rem;
}
.banner div h1 {
  margin-bottom: 40px;
  font-size: 70px;
}
.banner div p {
  padding: 20px 0px;
  font-size: 20px;
}
.banner .text {
  width: min(95%, 140rem);
  margin: 0 auto;
  color: #fff;
  text-align: center;
}
.banner img {
  height: 15rem;
}
@media (min-width: 768px) {
  .banner {
    display: flex;
    justify-content: center;
  }
  .banner img {
    width: 100%;
    height: 20rem;
  }
}
.banner button {
  background-color: #fff;
  color: #ccc;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease;
}
.banner button:hover {
  background-color: rgb(229.5, 229.5, 229.5);
}

.card-container {
  width: 350px;
  background-color: #fff;
  text-align: center;
  font-family: "Urbanist", sans-serif;
  padding-bottom: 1rem;
  border-radius: 0.5rem;
}
.card-container p {
  padding-bottom: 0.5rem;
}
.card-container h3 {
  padding: 1rem;
}
.card-container div {
  width: 100%;
  height: 300px;
}
.card-container div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-productos {
  display: flex;
  background-color: rgb(9, 0, 41);
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.inspiracion {
  background-color: rgb(9, 0, 41);
  text-align: center;
  font-family: "Urbanist", sans-serif;
  color: #fff;
}
.inspiracion .inspiracion-container {
  padding: 0 20px;
}
.inspiracion .inspiracion-item {
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  padding: 4rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 30px;
}
.inspiracion .inspiracion-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.inspiracion .inspiracion-item img {
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}
.inspiracion .inspiracion-item p {
  font-size: 18px;
  color: #f0f0f0;
  padding-top: 15px;
  font-style: italic;
}

.carousel-inner {
  left: 3rem;
}
@media (min-width: 768px) {
  .carousel-inner {
    margin-top: 0;
    left: 0;
  }
}

.carousel-caption {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  border-radius: 10px;
  color: #f0f0f0;
}

@media (max-width: 768px) {
  .inspiracion-item {
    width: 80%;
    margin-bottom: 20px;
  }
  .inspiracion-item img {
    height: auto;
  }
}
.footer {
  background-color: rgb(0, 0, 2);
  color: #fff;
  padding: 40px 0;
  text-align: center;
  clear: both;
}
.footer .footer-container,
.footer .footer-container-producto {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0rem 50px;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .footer .footer-container,
  .footer .footer-container-producto {
    padding: 0 50px;
  }
}
.footer .footer-links ul {
  list-style: none;
  padding: 0;
}
.footer .footer-links ul li {
  margin-bottom: 10px;
}
.footer .footer-links ul li a {
  color: #fff;
  text-decoration: none;
}

.contacto {
  padding: 3rem 50px;
  background-color: rgb(231, 229, 229);
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
.contacto .contacto-container {
  width: 500px;
  background-color: rgb(170, 169, 175);
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.contacto .contacto-container .form-group {
  margin-bottom: 20px;
}
.contacto .contacto-container .form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.contacto .contacto-container .form-group input,
.contacto .contacto-container .form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.contacto button {
  background-color: #ccc;
  color: #fff;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease;
}
.contacto button:hover {
  background-color: rgb(183.6, 183.6, 183.6);
}


.reseñas {
  padding: 50px;
  background-color: #b9b9b9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.reseñas .reseñas-container {
  max-width: 800px;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-family: "Urbanist", sans-serif;
}
.reseñas .reseñas-container h1,
.reseñas .reseñas-container p {
  text-align: center;
}
.reseñas .reseñas-container .review-list {
  margin-bottom: 30px;
}
.reseñas .reseñas-container .review-list .review {
  background-color: #f0f0f0;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.reseñas .reseñas-container .review-list .review h3 {
  font-size: 20px;
  color: #ccc;
}
.reseñas .reseñas-container .review-list .review p {
  font-size: 16px;
  color: #555;
}
.reseñas .reseñas-container form {
  background-color: #eaeaea;
  padding: 20px;
  border-radius: 8px;
}
.reseñas .reseñas-container form h2 {
  text-align: center;
}
.reseñas .reseñas-container form .form-group {
  margin-bottom: 20px;
}
.reseñas .reseñas-container form .form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.reseñas .reseñas-container form .form-group input,
.reseñas .reseñas-container form .form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.reseñas .reseñas-container form button {
  background-color: #ccc;
  color: #fff;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease;
}
.reseñas .reseñas-container form button:hover {
  background-color: rgb(183.6, 183.6, 183.6);
}

.intro,
.introduccion-parfum {
  background-color: #000;
  padding: 1rem 0rem;
}

/*# sourceMappingURL=style.css.map */
